name: Rust

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: ccsds-ndm
      - name: Run tests
        working-directory: ccsds-ndm
        run: cargo test --all-features

  fmt:
    name: Linting - Format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Enforce formatting
        working-directory: ccsds-ndm
        run: cargo fmt --check

      - name: Linting
        working-directory: ccsds-ndm
        run: cargo clippy -- -D warnings
      


  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    env:
      UV_PROJECT: ccsds-ndm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Generate code coverage
        working-directory: ccsds-ndm
        run: cargo llvm-cov --all-features --workspace --codecov --output-path codecov.json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: ccsds-ndm/codecov.json
          fail_ci_if_error: true

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test, fmt, coverage]
    if: github.ref_type == 'tag'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Publish to crates.io
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: |
          cargo login $CRATES_TOKEN
          cargo publish